@charset "UTF-8";
/* CSS Document */

	body {
			overflow:hidden;
			background-color:#fff;
		}
		
		/* Preloader */
	#preloader {
		position: fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background-color:transparent; 
		z-index:99; 
	}
	
	#status {
		width:200px;
		height:200px;
		position:absolute;
		left:50%; 
		top:50%; 
		background-image:url("../assets/status.gif"); 
		background-repeat:no-repeat;
		background-position:center;
		margin:-100px 0 0 -100px; 
	}
	
	.mobile-helper {
		display:none;
	}
	
	.m-content {
		display:none;
	}
	
	@media (max-width: 500px) {
		.m-content {
			display:block;
			width:125px;
			height:125px;
			overflow:hidden;
			margin:0 auto 12px;
			border-radius:50%;
		}
		
		.m-content img {
			height:100%;
		}
		
		.no-mobile {
			display:none !important;
		}
	}
		
	
	/* Image handling */
	img.mobile {
		display:none !important;
	}
	img.desktop {
		display:block !important;
	}
	
	@media (max-width: 800px) {
		img.mobile {
		display:block !important;
		}
		img.desktop {
		display:none !important;
		}
	}
	
	@media (max-width: 800px) {
		.img-mobile img{
			min-height:100%;
			width:auto;
		}
	}
	
	.top,
	.bottom,
	.left,
	.right {
		background-color:#fff;
		position:fixed;
		z-index:3
	}
	
	.top {
		width:92%;
		height:25px;
		left:4%;
		top:4%;
	}
	.bottom {
		width: 100%;
        height: 55px;
        margin: 0 auto;
        right: 0;
        left: 0;
        bottom: 0;
    }
	}
	.left {
		width:25px;
		height:92%;
		top:4%;
		left:3%;
	}
	.right {
		width:25px;
		height:92%;
		top:4%;
		right:3%;
	}
	
	@media (max-width: 500px) {
		.top {
			height:10px;
			top:2%;
			display:none;
		}
		.left,
		.right {
			width:10px;
			height:96%;
			top:2%;
			display:none;
		}
		.bottom {
			bottom:0%;
			left:0%;
			width:100%;
		}
	}
	
	.pav-name {
		position:relative;
		left:50%;
		margin-left:-160px;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		width:320px;
		text-align:center;
		text-transform:uppercase;
		font-weight:600;
        color:#999;
		margin-top:20px;
		font-size:16px;
		letter-spacing:0px;
		cursor:pointer;
		-webkit-transition-duration: .25s;
		transition-duration: .25s;
	}

    .pav-name a {
		color:#999;
        text-decoration: none; 
	}

	.pav-name span {
		color:#333;
	}

	.pav-name:hover{
		color:#000;
		-webkit-transition-duration: .25s;
		transition-duration: .25s;
	}
	@media (max-width: 500px) {
		.pav-name {
			width:136px;
			margin-left:-68px;
			left:50%;
			margin-top:13px;
			font-size:12px;
			text-align:center;
		}
		.pav-name span {
			display:block;
			font-size:14px;
		}
	}
	
	.menu-icon {
		position:absolute;
		right:15px;
		top:18px;
		width:20px;
		height:20px;
		background-image:url("../assets/menu-icon.png");
		background-repeat:no-repeat;
		background-position:center;
		background-size:20px;
		z-index:2;
		cursor:pointer;
	}
	
	.menu-icon.active {
		position:absolute;
		right:15px;
		top:18px;
		width:20px;
		height:20px;
		background-image:url("../assets/menu-icon-close.png");
		background-repeat:no-repeat;
		background-position:center;
		background-size:20px;
		z-index:2;
		cursor:pointer;
	}
	
	.nav-next {
		position:absolute;
		right:50px;
		top:16px;
		width:26px;
		height:26px;
		background-image:url("../assets/nav-down.png");
		background-repeat:no-repeat;
		background-position:center;
		background-size:26px;
		z-index:2;
		cursor:pointer;
	}
	
	.nav-prev {
		position:absolute;
		right:85px;
		top:16px;
		width:26px;
		height:26px;
		background-image:url("../assets/nav-up.png");
		background-repeat:no-repeat;
		background-position:center;
		background-size:26px;
		z-index:2;
		cursor:pointer;
	}
	
	.nav-next:hover, 
	.nav-prev:hover {
		opacity:.5;
	}
	
	@media (max-width: 500px) {
		.nav-next,
		.nav-prev {
			display:none;
		}
	}
	
	.share-icon {
		display:none;
		position:absolute;
		left:15px;
		top:18px;
		width:20px;
		height:20px;
		background-image:url("../assets/share-icon.png");
		background-repeat:no-repeat;
		background-position:center;
		background-size:20px;
		z-index:2;
		cursor:pointer;
	}
	
	@media (max-width: 500px) {
		.share-icon {
			display:block;
		}
	}
	
	.insta-icon,
	.linked-icon,
	.be-icon  {
		position:absolute;
		top:18px;
		width:25px;
		height:20px;
		background-repeat:no-repeat;
		background-position:center;
		z-index:2;
		cursor:pointer;
	}

	.insta-icon {
		left:15px;
		background-image:url("../assets/insta-icon.png");
		background-size:20px;
	}
	.linked-icon {
		left:45px;
		background-image:url("../assets/linked-icon.png");
		background-size:20px;
	}
	.be-icon  {
		left:75px;
		background-image:url("../assets/be-icon.png");
		background-size:25px;
	}
	
	@media (max-width: 500px) {
		.mobile-share-set {
			display:none;
			position:relative;
			margin-top:-140px;
		}
		
		.insta-icon,
		.linked-icon {
			width:50px;
			height:50px;
			background-size:30px;
		}
		
		.be-icon {
			width:50px;
			height:55px;
			background-size:13px;
		}
		
		.insta-icon {
			left:6%;
		}
		
		.be-icon  {
			left:72%;
		}
		
		.linked-icon {
			left:50%;
			margin-left:-32px;
		}
		
		.insta-icon,
		.linked-icon,
		.be-icon  {
			background-color:#fff;
			padding:6px;
			border-radius:50%;
		}
	}
	
	/* Navigation */
	
	.navigation {
		display:none;
		position:fixed;
		left:4%;
		top:4%;
		width:92%;
		height:92%;
		background-color:#fff;
		opacity:.9;
		z-index:2;
	}
	
	@media (max-width: 500px) {
		.navigation {
			left:0%;
			top:0%;
			padding:4%;
		}
	}
	
	.navigation .information {
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		width:70%;
		margin:0 auto;
		text-align:left;
		font-size:14px;
		letter-spacing:.5px;
		line-height:22px;
	}
	
	.navigation .menu {
		text-align:left;
		padding:10%;
		max-width:400px;
	}
	
	.navigation .menu ul {
		padding:0px;
		margin:0px;
	}
	
	.navigation .menu ul li {
		display:block;
		font-weight:800;
		font-size:16px;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		padding-bottom:4px;
		padding-top:4px;
	}
	.navigation .menu ul li a {
		text-decoration:none;
		text-transform:none;
		color:#000;
		font-weight:normal;
		padding:4px 0px;
		font-size:14px;
		display:block;		
	}
	
	.navigation .menu ul li a:hover {
		color:#333;
	}
	
	.navigation .get-in-touch {
		font-size:14px;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		line-height:20px;
		margin-bottom:18px;
	}
	
	.navigation .get-in-touch a {
		text-decoration:none;
		color:#000;	
	}
	
	.navigation .get-in-touch a:hover {
		border-bottom:1px dotted #000;
	}
	
	.navigation .get-in-touch span {
		color:#333;
		text-transform:uppercase;
		font-size:12px;
	}
	
	
	/* Flexslider Add-ons */
	
	.outside {
		position:fixed;
		top:0px;
		right:0px;
		z-index:999;
	}
	
	.flex-control-nav li {
		width:10px;
		height:10px;
		border-radius:50%;
		border:2px solid #fff;
		margin-bottom:4px !important;
		cursor:pointer;
		-webkit-transition-duration: .25s;
		transition-duration: .25s;
	}
	
	.flex-control-nav li:hover {
		background-color:#fff;
		-webkit-transition-duration: .25s;
		transition-duration: .25s;
	}
	
	.flex-control-nav li.flex-active {
		background:#fff;
	}
	
	/*------------- 
	
	PROJECT INFO 
	
	--------------*/
	
	.cover-bg {
		background-position:center center; 
		background-size:cover; 
		position:fixed; 
		width:100%; 
		height:100%;
	}
	
	@media (max-width: 500px) {
		.intro-image .cover-bg {
			opacity:.4;
		}
		
	}
	
	.project-info {
		display:block;
		padding:0%;
		width:33%;
		position:absolute;
		left:6%;
		top:8%;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		z-index:999;
	}
	
	
	
	@media (max-width: 800px) {
		.project-info {
			width:74%;
			top:7%;
			left:8%;
		}
	}
	
	@media (max-width: 500px) {
		.project-info {
			display:none;
			top:0%;
			left:0%;
			padding:10%;
			height:90%;
			width:80%;
			background-color:#000;
			opacity:.9;
			text-align:center;
		}
		/*.close-info {
			width:50px;
			height:50px;
			background-color:aquamarine;
			border-radius:50%;
			position:absolute;
			left:50%;
			bottom:20%;
			margin-left:-25px;
			cursor:pointer;
		}*/
	}
	
	.project-info .project-type {
		display:inline-block;
		padding:8px 12px;;
		background-color:#000;
		color:#fff;
		font-size:14px;
		letter-spacing:2px;
		margin-bottom:2px;
		text-transform:uppercase;
		clear:both;
		font-weight:400;
	}
	
	@media (max-width: 500px) {
		.project-info .project-type {
			padding:0px;
		}
	}
	
	.project-info .project-title {
		display:inline-block;
		padding:8px 12px;;
		background-color:#000;
		color:#fff;
		font-size:42px;
		margin-bottom:2px;
		font-weight:lighter;
		clear:both;
	}
	
	@media (max-width: 500px) {
		.project-info .project-title {
			padding:0px;
			font-size:28px;
			font-weight:300;
			-webkit-font-smoothing: antialiased;
   			-moz-osx-font-smoothing: grayscale;
		}
	}
	
	.project-info .project-description {
		display:inline-block;
		padding:12px 16px;
		background-color:#000;
		color:#fff;
		letter-spacing:.7px;
		font-size:13px;
		line-height:22px;
		color:#fff;
		clear:both;
		font-weight:400;
		-webkit-font-smoothing: antialiased;
   			-moz-osx-font-smoothing: grayscale;
	}
	
	@media (max-width: 500px) {
		.project-info .project-description {
			padding:0px;
			-webkit-font-smoothing: antialiased;
   			-moz-osx-font-smoothing: grayscale;
			font-size:12px;
			line-height:18px;
			letter-spacing:0px;
			margin-top:12px;
			margin-bottom:12px;
			font-weight:500;
		}
	}
	
	.project-info .project-link a{
		display:inline-block;
		border:4px solid #fff;
		text-transform:uppercase;
		font-size:12px;
		letter-spacing:2px;
		padding:12px 18px;
		margin-top:2px;
		cursor:pointer;
		background-color:#fff;
		text-decoration:none;
		color:#000;
		-webkit-transition-duration: .25s;
		transition-duration: .25s;
	}
	
	.project-info .project-link a:hover {
		border-color:#000;
		background-color:#000;
		color:#fff;
		-webkit-transition-duration: .25s;
		transition-duration: .25s;
	}
	
	.site-info {
		position:absolute;
		z-index:3;
		left:100px;
		top:100px;
		width:420px;
		text-align:left;
		color:#fff;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight:normal;
	}

.site-info0 {
		position:absolute;
		z-index:3;
		left:100px;
		top:100px;
		width:420px;
		text-align:left;
		color:#000;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight:normal;
	}
	
	.site-info-project {
		position:absolute;
		z-index:1;
		left:100px;
		top:100px;
		max-width:420px;
		width:100%;
		text-align:left;
		color:#fff;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight:normal;
	}
	
	@media (max-height: 600) {
		.site-info { 
			width:600px;
		}
		
	}
	
	@media (max-width: 800px) {
		.site-info-project {
			left:20px;
			top:20px;
		}
	}
	
	@media (max-width: 800px) {
		.site-info-project {
			width:80%;
		}
	}

   .site-info-project0 {
		position:absolute;
		z-index:1;
		left:100px;
		top:100px;
		max-width:420px;
		width:100%;
		text-align:left;
		color:#000;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight:normal;
	}
	
	@media (max-height: 600) {
		.site-info { 
			width:600px;
		}
		
	}
	
	@media (max-width: 800px) {
		.site-info-project {
			left:20px;
			top:20px;
		}
	}
	
	@media (max-width: 800px) {
		.site-info-project0 {
			width:80%;
		}
	}
	
	.site-title {
		font-size:20px;
		text-transform:uppercase;
		letter-spacing:2px;
		color:#fff;
	}

    .site-title0 {
		font-size:20px;
		text-transform:uppercase;
		letter-spacing:2px;
		color:#000;
	}
	
	.site-description {
		font-size:30px;
		letter-spacing:3px;
		font-weight:lighter;
        padding-bottom:12px;
		padding-bottom:12px;
		line-height:80px;
		/*-webkit-transition-duration: .25s;*/
		/*transition-duration: .25s;*/
	}

	@media (max-height: 768px) {
		.site-description {
		font-size: 40px;
        line-height: 50px;
        letter-spacing: 1px;
		}
		
		.site-info {
			top:75px;
		}
		
		.site-memo span {
			display:none;
		}
	}
	
	
	
	@media (max-width: 500px) {
		.site-description {
			font-size:50px;
			letter-spacing:-2px;
			font-weight:normal;
			line-height:54px;
			-webkit-transition-duration: .25s;
			transition-duration: .25s;
		}
	}
	
	.site-memo {
		font-size:14px;
		line-height:22px;
		font-weight:300;
		letter-spacing:.3px;
		margin-top:14px;
	}
	
	@media (max-width: 800px) {
		.site-memo {
			font-size:13px;
			line-height:18px;
			letter-spacing:.1px;
			margin-top:12px;
			
		}
		.site-memo span {
			display:none;
		}
	}
	
	@media (max-width: 500px) {
		.site-memo {
			margin-top:0px;
		}
	}
	
	.site-button, 
	.resume-button {
		display:inline-block;
		border:2px solid #fff;
		color:#fff;
		font-weight:600;
		text-transform:uppercase;
		font-size:12px;
		letter-spacing:2px;
		padding:10px 16px;
		text-decoration:none;
		margin-top:40px;
		cursor:pointer;
		-webkit-transition-duration: .25s;
		transition-duration: .25s;
		-webkit-font-smoothing: antialiased;
   			-moz-osx-font-smoothing: grayscale;
	}
	
	@media (max-width: 500px) {
		.resume-button { 
			margin-top:4px !important;
		}
		.site-button {
			margin-top:14px !important;
		}
		
		
	}
	
	.site-button:hover,
	.resume-button:hover {
		border-color:#222;
		color:#222;
		-webkit-transition-duration: .25s;
		transition-duration: .25s;
	}

    .site-button0 {
        display:inline-block;
		border:2px solid #000;
		color:#000;
		font-weight:600;
		text-transform:uppercase;
		font-size:12px;
		letter-spacing:2px;
		padding:10px 16px;
		text-decoration:none;
		margin-top:40px;
		cursor:pointer;
		-webkit-transition-duration: .25s;
		transition-duration: .25s;
		-webkit-font-smoothing: antialiased;
   		-moz-osx-font-smoothing: grayscale;
	}

    @media (max-width: 500px) {
		.site-button0 {
			margin-top:14px !important;
		}
		
    }
	
	.site-button0:hover {
		border-color:#444;
		color:#444;
		-webkit-transition-duration: .25s;
		transition-duration: .25s;
	}

	
	.view-project-button {
		display:inline;
	}
	
	.view-project-button a{
		display:inline-block;
		border:2px solid #fff;
		color:#fff;
		font-weight:600;
		text-transform:uppercase;
		font-size:12px;
		letter-spacing:2px;
		padding:10px 16px;
		text-decoration:none;
		margin-top:40px;
		cursor:pointer;
		-webkit-transition-duration: .25s;
		transition-duration: .25s;
		-webkit-font-smoothing: antialiased;
   			-moz-osx-font-smoothing: grayscale;
	}

	.view-project-button a:hover {
		border-color:#222;
		color:#222;
		-webkit-transition-duration: .25s;
		transition-duration: .25s;
	}

    .view-project-blackbutton {
		display:inline;
	}
	
	.view-project-blackbutton a{
		display:inline-block;
		border:2px solid #000;
		color:#000;
		font-weight:600;
		text-transform:uppercase;
		font-size:12px;
		letter-spacing:2px;
		padding:10px 16px;
		text-decoration:none;
		margin-top:40px;
		cursor:pointer;
		-webkit-transition-duration: .25s;
		transition-duration: .25s;
		-webkit-font-smoothing: antialiased;
   			-moz-osx-font-smoothing: grayscale;
	}

	.view-project-blackbutton a:hover {
		border-color:#444;
		color:#444;
		-webkit-transition-duration: .25s;
		transition-duration: .25s;
	}
	
	@media (max-height: 768px) {
		.site-button, .resume-button {
			margin-top:25px;
		}
	}
	
	@media (max-width: 600px) {
		.site-info {
			position:absolute;
			text-align:center;
			left:0px;
			top:0%;
			width:90%;
			height:90%;
			background-color:#000;
			padding:5%;
			opacity:.9 !important;
		}
		
		.site-title {
			font-size:12px;
			color:#fff ;
		}
		
		.site-description {
			font-size:22px;
			letter-spacing:-.5px;
			line-height:24px;
		}
		
		.site-info p {
			display:;
		}
		
		.view-project-button a{
			margin-top:20px;
		}
		
	}
	
	.site-contact {
		position:absolute;
		width:500px;
		height:300px;
		margin-left:-250px;
		top:18%;
		left:50%;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		color:#fff;
		z-index:2;
		text-align:center;
	}
	
	@media (max-width: 800px) {
		.site-contact {
			top:38%;
		}
	}
	
	@media (max-width: 500px) {
		.site-contact {
			position:relative;
			max-width:300px;
			margin-left:-150px;
			margin-top:34%;
		}
	}
	
	.site-contact h2 {
		font-size:28px;
		letter-spacing:8px;
		font-weight:200;
		color:#fff;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		margin:0px;
	}
	
	.site-contact h2 span {
		color:#666;
	}
	
	@media (max-width: 500px) {
		.site-contact h2 {
			font-size:22px;
			letter-spacing:2px;
		}
	}
	
	.site-contact .view-project-button {
		display:inline;
		margin-left:2px;
		margin-right:2px;
	}
	
	.site-contact .view-project-button a{
		margin-top:12px;
	}
	
	.site-contact .view-project-button a:hover {
		background-color:#fff;
		color:#000;
		border-color:#fff;
	}
	
	.site-contact img.pvachon {
		max-width:115px;
		height:auto;
		border-radius:50%;
		display:block;
		margin:0 auto 14px;
		opacity:.8;
	}
	
	@media (max-width: 500px) {
		.site-contact img.pvachon {
			margin:0 auto 14px !important;
		}

	}
	/*------------- 
	
	Odds and ends
	
	--------------*/
	
	.odds-and-ends {
	}
	
	.odds-and-ends ul {
		padding:0px;
		margin:0px;
		list-style:none;
	}
	
	.odds-and-ends ul li {
		width:33.3%;
		height:400px;
		float:left;
		background:#999;
	}
	
	.odds-and-ends ul li:nth-child(odd) {
		background-color:#333;
	}
	/*--------------
	
	Single Page
	
	---------------*/
	
	.single-project {
		position:absolute;
		left:0px;
		top:0px;
		width:100%;
		height:100%;
	}
	
	.single-project .back-icon {
		opacity:0;
		position:absolute;
		right:50px;
		top:40px;
		z-index:999;
	}
	
	.single-project .back-icon img {
		width:40px;
		height:auto;
		-webkit-transition-duration: .25s;
		transition-duration: .25s;
	}
	
	@media (max-width: 800px) {
		.single-project .back-icon {
			opacity:0;
			position:absolute;
			right:10px;
			top:10px;
			z-index:2;
		}
		
		.single-project .back-icon img {
			width:30px;
			height:auto;
			-webkit-transition-duration: .25s;
			transition-duration: .25s;
		}
		
	}
	
	.single-project .back-icon img:hover {
		opacity:.7;
		-webkit-transition-duration: .25s;
		transition-duration: .25s;
	}
	
	.project-wrapper {
		position:relative;
		max-width:84%;
		padding-left:8%;
		padding-right:8%;
		width:100%;
		margin:0 auto;
		padding-bottom:100px;
		background-color:#fff;
	}
	
	.intro-image {
		position:relative;
		width:100%;
		height:auto;
		top:0px;
		left:0px;
		background-color:#000;
	}
	
	.scroll-down {
		position:absolute;
		left:50%;
		bottom:10%;
		width:70px;
		height:70px;
		margin-left:-40px;
	}
	
	.scroll-down img {
		max-width:70px;
		max-height:70px;
	}
	
	.scroll.button a {
		display:inline-block;
		text-decoration:none;
		font-size:12px;
		letter-spacing:1px;
		color:#000;
		z-index:99;
		border:2px solid #fff;
		padding:12px 18px;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		text-transform:uppercase;
		background-color:#fff;
		margin-top:18px;
	}
	
	.scroll.button a:hover {
		background-color:transparent;
		color:#fff;
	}
	
	@media (max-width: 800px) {
		.scroll-down,
		.scroll.button a {
			display:none;
		}
		
	}
	
	.intro-image img {
		width:100%;
	}
	
	.entry-row {
		clear:both;
		margin-top:0px;
		margin-bottom:0px;
		position:relative;
	}
	
	.entry-info {
		width:50%;
		margin:0px auto 24px;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		padding:20px;
		background-color:#fff;
		text-align:left;
		font-size:16px;
		line-height:26px;
		letter-spacing:.4px;
		font-weight:300;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	
	.entry-info span {
		font-size:14px;
	}
	
	.entry-info .awards {
		text-align:right;
		padding-top:12px;
		font-size:12px;
		line-height:18px;
		letter-spacing:.2px;
	}
	
	@media (max-width: 800px) {
		.entry-info {
			width:75%;
		}
		
	}
	
	@media (max-width: 500px) {
		.entry-info {
		float:none;
		width:100%;
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
    	-moz-column-count: 1; /* Firefox */
    	column-count: 1;
		-webkit-column-gap: 0px; /* Chrome, Safari, Opera */
    	-moz-column-gap: 0px; /* Firefox */
    	column-gap: 0px;
		font-size:14px;
		text-align:left;
		line-height:20px;
		padding-top:20px;
		padding-left:0px;
		padding-right:0px;
		}
		
		.entry-info .awards {
		}
	}
	
	.entry-info h2 {
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size:28px;
		letter-spacing:-1px;
		text-transform:uppercase;
		font-style:italic;
		margin:0px;
		font-weight:200;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	
	.entry-info p {
		font-family:Helvetica neue, sans-serif;
		font-size:13px;
		line-height:20px;
	}
	
	.image-right {
		width:50%;
		float:right;
		margin-left:4%;
		margin-bottom:1%;
	}
	
	.image-left {
		width:50%;
		float:left;
		margin-right:4%;
		margin-bottom:1%;
	}
	
	.image-large {
		width:100%;
		margin-bottom:1%;
	}
	
	.image-large-col {
		width:100%;
		margin-bottom:1%;
		overflow:auto;
	}
	
	@media (max-width: 500px) {
		.image-large-col {
			overflow:hidden;
		}
	}
	
	.image-large img {
		width:100%;
	}
	
	.image-large-col img {
		width:100%;
	}
	
	.image-large-col img.light-image {
		opacity:.5;
		-webkit-transition-duration: .25s;
		transition-duration: .25s;
	}
	
	.image-right img,
	.image-left img {
		width:100%;
	}
	
	.album-col {
		width:30%;
		float:left;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}
	
	@media (max-width: 500px) {
		.album-col {
			width:100%;
			float:none;
		}
	}
	
	.album-col img {
		width:100%;
		margin-bottom:8px;
	}
	
	.album-col p {
		text-align:right;
		font-size:12px;
		line-height:18px;
		padding-right:8px;
		padding-left:8px;
	}
	
	.album-col p a {
		color:#666;
		text-decoration:none;
	}
	
	.album-col p a:hover {
		color:#000;
	}
	
	.image-wrap {
		width:69%;
		float:right;
		position:relative;
	}
	
	@media (max-width: 500px) {
		.image-wrap {
			width:100%;
			float:none;
		}
	}
	
	.audio {
		position:absolute;
		bottom:22px;
		left:4px;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		color:#fff;
		font-weight:300;
		width:94%;
	}
	
	@media (max-width: 500px) {
		.audio {
			width:70%;
		}
	}
	
	
	
	.audio img {
		opacity:.6;
		max-width:60px;
		max-height:60px;
		float:left;
		margin-top:2px;
		margin-right:12px;
		cursor:pointer;
	}
	
	.audio img.play {
		display:block;
	}
	
	.audio img.pause {
		display:none;
	}
	
	.audio img:hover {
		opacity:1;
	}
	
	.audio-info {
		float:left;
		
	}
	
	@media (max-width: 500px) {
		.image-right,
		.image-left {
			float:none;
			width:100%;
			margin:0%;
		}
	}
	/*-------------- 
	
	Resume 
	
	--------------*/
	
	.resume-image {
		position:fixed;
		left:0;
		top:0;
		overflow:hidden;
		width:64%;
	}
	
	@media (max-width: 800px) {
		.resume-image {
			position:static;
			height:400px;
			overflow:hidden;
			width:100%;
		}

	}
	
	@media (max-width: 800px) {
		.resume-image {
			position:static;
			height:auto;
			overflow:hidden;
			width:100%;
		}

	}
	
	.resume-image img {
		width:100%;
	}
	
	@media (max-width: 800px) {
		.resume-image img {
			margin-top:-30%;
		}
		
	}
	
	.resume {
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		padding:3%;
		height:100%;
		position:relative;
		background-color:#fff;
		background-repeat:repeat;
		color:#222;
		font-size:12px;
		width:55%;
		/*float:right;*/
		margin:0 auto 20px;
		
	}
	
	.resume h1 {
		letter-spacing:-1.5px;
		margin-bottom:4px;
		font-size:28px;
		display:inline-block;
		padding-right:18px;
		padding-top:4px;
		border-top:6px solid #000;
	}
	
	.resume .contact-info {
		padding-top:4px;
		padding-bottom:6px;
		margin-bottom:12px;
	}
	
	.resume .contact-info a {
		color:#333;
	}
	
	@media (max-width: 800px) {
		.resume {
			float:none;
			width:70%;
		}
	}
	
	@media (max-width: 500px) {
		.resume {
			float:none;
			width:94%;
			margin-bottom:50px;
		}
	}

	
	.resume .resume-entry {
		padding-bottom:12px;
	}
	
	.resume .label {
		display:inline-block;
		background-color:#1f2022;
		color:#fff;
		padding:8px 12px 8px 12px;
		margin-top:12px;
	}
	
	.resume .awards {
		font-size:14px;
		margin-top:12px;
        -webkit-font-smoothing: antialiased;
	}
	
	.resume .specials {
		font-size:14px; 
		line-height:18px;
		margin-top:16px;
	}
	
	.resume-cols {
		/*-webkit-column-count: 2; 
		-moz-column-count: 2; 
		column-count: 2;
		-webkit-column-gap: 40px;
		-moz-column-gap: 40px; 
		column-gap: 40px; */
	}
	
	.resume .intro {
		font-size:16px;
		font-weight:300;
		line-height:22px;
		letter-spacing:.5px;
		color:#222;
		margin-bottom:16px;
		-webkit-font-smoothing: antialiased;
    	-moz-osx-font-smoothing: grayscale;
	}
	
	.resume .intro img {
		width:100%;
		height:auto;
		display:block;
		margin:0 auto 14px;
		-webkit-filter: grayscale(80%); filter: grayscale(80%);
	}
	
	.resume .company {
		display:inline-block;
		margin-top:12px;
		font-size:16px;
		letter-spacing:-.2px;
		margin-bottom:2px;
		/*border-top:3px solid #111; */
		padding-top:4px;
		padding-right:8px;
		-webkit-font-smoothing: antialiased;
   		-moz-osx-font-smoothing: grayscale;
	}
	
	.resume .company span {
		font-size:14px;
		color:#999;
		-webkit-font-smoothing: antialiased;
   		-moz-osx-font-smoothing: grayscale;
	}
	
	.resume .title {
		font-size:13px;
		letter-spacing:0px;
		-webkit-font-smoothing: antialiased;
   		-moz-osx-font-smoothing: grayscale;
		font-weight:600;
		
	}
	
	.resume .roles {
		padding-top:6px;
		font-size:14px;
		letter-spacing:.2px;
		line-height:18px;
		-webkit-font-smoothing: antialiased;
   		-moz-osx-font-smoothing: grayscale;
	}
	
	.resume .roles span {
		font-weight:bold;
		text-transform:uppercase;
		display:none;
		font-size:11px;
		padding-bottom:4px;
		-webkit-font-smoothing: antialiased;
   		-moz-osx-font-smoothing: grayscale;
	}
	
	/** audio player styles **/
	.audio-player, .audio-player div, .audio-player h2, .audio-player a, .audio-player span, .audio-player button {
	  margin: 0;
	  padding: 0;
	  border: none;
	  outline: none;
	}
	
	div.audio-player {
	  position: relative;
	  width: 100%;
	  height: auto;
	  margin-left:40px;
	  float:left;
	  top:-30px;
	}
	.audio-player h2 {
	  position: absolute;
	  top: 10px;
	  left: 46px;
	  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	  font-weight: 300;
	  font-size: 14px;
	  letter-spacing:1px;
	  text-transform:uppercase;
	  color: #fff;
	  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	}
	
	.audio-player h2 span {
		opacity:.4;
	}
	@media (max-width: 500px) {
		.audio-player h2 span {
			display:none;
		}
	}
	
	/* play/pause control */
	.mejs-controls .mejs-button button {
	  cursor: pointer;
	  display: block;
	  position: absolute;
	  text-indent: -9999px;
	}
	
	.mejs-controls .mejs-play button, .mejs-controls .mejs-pause button {
	  width: 60px;
	  height: 60px;
	  top: 4px;
	  left: -22px;
	  background: transparent url('../assets/pauseplay.png') 0 0 no-repeat;
	  background-size:60px;
	}
	.mejs-controls .mejs-pause button { background-position: 0 -60px; }
	 
	 
	/* mute/unmute control */
	.mejs-controls .mejs-mute button, .mejs-controls .mejs-unmute button {
	  width: 18px;
	  height: 19px;
	  top: 9px;
	  right: 142px;
	  background: transparent url('../assets/audio.png') 0 0;
	}
	.mejs-controls .mejs-unmute button { background-position: 0 -19px; }
	
	
	/* volume scrubber bar */
	.mejs-controls div.mejs-horizontal-volume-slider {
	  position: absolute;
	  top: 13px;
	  right: 15px;
	  cursor: pointer;
	}
	
	.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	  width: 120px;
	  height: 11px;
	  background: #212227;
	  -webkit-box-shadow: inset 0px 1px 0px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.25);
	  -moz-box-shadow: inset 0px 1px 0px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.25);
	  box-shadow: inset 0px 1px 0px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.25);
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	}
	
	.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	  position: absolute;
	  width: 0;
	  height: 9px;
	  top: 1px;
	  left: 1px;
	  background: #90d26a;
	  background: -webkit-linear-gradient(top, #90d26a 0%, #83bb63 100%);
	  background: -moz-linear-gradient(top, #90d26a 0%, #83bb63 100%);
	  background: -o-linear-gradient(top, #90d26a 0%, #83bb63 100%);
	  background: -ms-linear-gradient(top, #90d26a 0%, #83bb63 100%);
	  background: linear-gradient(top, #90d26a 0%, #83bb63 100%);
	  -webkit-border-radius: 8px;
	  -moz-border-radius: 8px;
	  border-radius: 8px;
	}
	
	
	/* time scrubber bar */
	.mejs-controls div.mejs-time-rail { width: 380px; }
	 
	.mejs-controls .mejs-time-rail span {
	  position: absolute;
	  display: block;
	  width: 80%;
	  height: 6px;
	  top: 40px;
	  left: 55px;
	  cursor: pointer;
	}
	 
	.mejs-controls .mejs-time-rail .mejs-time-total { 
	  background: #565860; 
	  width: 80% !important; /* fixes display bug using jQuery 1.8+ */
	  -webkit-border-radius: 3px;
	  -moz-border-radius: 3px;
	  border-radius: 3px;
	}
	.mejs-controls .mejs-time-rail .mejs-time-loaded {
	  top: 0;
	  left: 0;
	  width: 0;
	  background: #333;
	}
	.mejs-controls .mejs-time-rail .mejs-time-current {
	  top: 0;
	  left: 0;
	  width: 0;
	  -webkit-border-radius: 3px;
	  -moz-border-radius: 3px;
	  border-radius: 3px;
	  background: #EF4136;
	  background: -webkit-linear-gradient(top, #EF4136 0%, #EF4136 100%);
	  background: -moz-linear-gradient(top, #EF4136 0%, #EF4136 100%);
	  background: -o-linear-gradient(top, #EF4136 0%, #EF4136 100%);
	  background: -ms-linear-gradient(top, #EF4136 0%, #EF4136 100%);
	  background: linear-gradient(top, #EF4136 0%, #EF4136 100%);
		}
	
	/* metallic sliders */
	.mejs-controls .mejs-time-rail .mejs-time-handle {
	  position: absolute;
	  display: block;
	  width: 20px;
	  height: 22px;
	  top: -6px;
	  background: url('../assets/handle-lg.png') no-repeat;
	}
	.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle {
	  position: absolute;
	  display: block;
	  width: 12px;
	  height: 14px;
	  top: -1px;
	  background: url('../assets/handle-sm.png') no-repeat;
	}
	
	
	/* time progress tooltip */
	.mejs-controls .mejs-time-rail .mejs-time-float {
		direction:none;
	  position: absolute;
	  width: 33px;
	  height: 23px;
	  top: -26px;
	  margin-left: -17px;
	  z-index: 0;
	  
	}
	 
	.mejs-controls .mejs-time-rail .mejs-time-float-current {
	  width: 33px;
	  display: none;
	  left: 0;
	  top: 4px;
	  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	  font-size: 10px;
	  font-weight: bold;
	  color: #666;
	  text-align: center;
	  z-index: 9999;
	}
	
	
	.large-buttons {
		clear:both;
		width:100%;
		text-align:center;
		margin-top:16px;
		margin-bottom:16px;
	}
	
	.large-buttons a {
		display:inline-block;
		padding:10px 16px;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size:10px;
		letter-spacing:2px;
		border:2px solid #000;
		font-weight:600;
		text-decoration:none;
		color:#000;
		text-transform:uppercase;
		margin-bottom:4px;
		-webkit-transition-duration: .25s;
		transition-duration: .25s;
	}
	
	.large-buttons a:hover {
		background-color:#222;
		color:#fff;
		-webkit-transition-duration: .25s;
		transition-duration: .25s;
	}

    .name-home {
        color:#fff;
        text-decoration: none;
    }
        
